.status
.well
  .buttons.row
    .col-sm-4.col-sm-offset-1.checkin
      %button.btn.btn-primary.btn-block CI
    .col-sm-4.col-sm-offset-1.checkout
      %button.btn.btn-primary.btn-block CO
.row
  .col-sm-12.col-sm-offset-1
    #works
      - @works.each do |work|
        = render work