.status
.well
  .buttons.row
    .col-sm-4.col-sm-offset-1.checkin
      %button.btn.btn-primary.btn-block CI
    .col-sm-4.col-sm-offset-1.checkout
      %button.btn.btn-primary.btn-block CO
.row
  .col-sm-12.col-sm-offset-1
    .row
      .col-sm-1.id id
      .col-sm-1.id job
      .col-sm-2.checkin checkin
      .col-sm-2.checkout checkout
      .col-sm-2.hours hours
  .col-sm-12.col-sm-offset-1
    #works
      - @works.each do |work|
        = render work