.well
  .buttons.row
    .col-sm-4.col-sm-offset-1.checkin
      %button.btn.btn-primary.btn-block Clock In
    .col-sm-4.col-sm-offset-1.checkout
      %button.btn.btn-primary.btn-block Clock Out
.row
  .col-sm-10.col-sm-offset-1
    .status.pull-right.text-muted
    #works
      - @works.each do |week, works|
        %h4= week_range(week)
        .well{class: "week-#{week.cweek}"}
          .row
            .col-sm-1.id id
            .col-sm-1.id job
            .col-sm-2.checkin checkin
            .col-sm-2.checkout checkout
            .col-sm-2.hours hours
          - works.each do |work|
            = render work